
@font-face {
    font-family:'inlove';
    src: url(inlove\ Personal\ use.ttf);
}
body{
    background-image: url('../imagem/teste1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: safe;  
    border-radius: 10px 10px 0px 0px;
    position: relative;
    overflow: hidden;
}

.caixa{
        background-color: rgba(255, 255, 255, 0.4); 
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 500px;
        margin: 50px auto;
        backdrop-filter: blur(5px);
    }

h1{
    font-family: 'inlove' ;
    color: rgba(21, 21, 21, 0.816);
    font-size: 3em;
    display: inline-block;
    margin: 0 0.5rem;
    animation: zoomInDown;
    animation-duration: 2s; 
}


.butom{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

img{
    width: 80%;
    max-width: 400px;
    height: auto;
}

a{
    margin-bottom: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 10px;
    position: relative;
    transition: left 0.3s ease;
}

p{
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover{
    border-radius: 1px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    left: 1px;
    
}
